In [ ]:
import seaborn as sns

In [ ]:
list = ['a','b','c','d','e','a','a      ']
sns.countplot(x = list)

In [ ]:
df = sns.load_dataset('titanic')

In [ ]:
df

In [ ]:
sns.countplot(data = df, x = 'sex')

In [ ]:
sns.countplot(data = df, x = 'class')

In [ ]:
sns.countplot(data = df, x = 'sex', hue = 'alive')

In [ ]:
sns.countplot?

"2장"

In [ ]:
import pandas as pd

In [ ]:
list = ['2023-10-20', 3.14, 'Celine',True]
series = pd.Series(list)
series

In [ ]:
tup = ('2023-10-20', 3.14, 'Celine',True)
series = pd.Series(tup)
series

In [ ]:
series[1]

In [ ]:
tup = ('Cline', '1976-04-28', 'female',True)
series1 = pd.Series(tup)
series1.index = ['name','birthday','geneder','isStudent']
series1[0]

In [ ]:
dict = {'name':'Celine','birthday':'1976-04-28','geneder':'female','isStudent':True}
dict

In [ ]:
series1['name']

In [ ]:
series1[['name','birthday']]

In [ ]:
series1[1:3]

In [ ]:
series.values

2023 10 30 13:21

In [ ]:
df = pd.DataFrame

In [ ]:
df = pd.DataFrame([
    
    ['Celine','France',90,120,100],
    ['James','USA',90,140,50],
    ['Jason','UK',100,100,100],
    ['Hans','Germany',400,100,100],
    ['Mira','France',50,120,100]],
    columns = ['name','nation','english','math','science']
    
)

In [ ]:
df

In [ ]:
df.iloc[0]

In [ ]:
df = pd.DataFrame([
    ['Celine', 'France', 90, 100, 100],
    ['James','UK', 80, 40, 30],
    ['Jason','USA',80, 40, 60],
    ['Hans','Germany', 60, 50, 90]],
    columns = ['name', 'nation', 'english', 'math', 'science']
)

In [ ]:
df['name']

In [ ]:
df = pd.DataFrame([
    ['France', 90, 100, 100],
    ['UK', 80, 40, 30],
    ['USA',80, 40, 60],
    ['Germany', 60, 50, 90]],
    columns = ['nation', 'english', 'math', 'science'],
    index = ['Celine','James','Jason','Hans']
    
)

In [ ]:
df.loc['Celine','nation']

In [ ]:
df2 = pd.DataFrame({
    
    'name' : ['Celine', 'James', 'Jason', 'Hans'],
    'nation' : ['France', 'UK', 'USA', 'Germany'],
    'english' : [90,80,80,60],
    'math' : [95,30,50,100],
    'science' : [100,70,60,90]
})

연습문제

아래 데이터를 Data Frame으로 작성하세요
DataFrame 객체 이름은 df_pop202309 로 지정합니다

In [ ]:
df_pop202309 = pd.DataFrame(
    [['서울특별시',9407540,4475726,2.10,4552501,4855039],
    ['부산광역시',3300836,1565115,2.11,1609650,1691186],
    ['대구광역시',2377801,1092536,2.18,1168679,1209122],
    ['인천광역시',2987918,1344029,2.22,1494725,1493193],
    ['인천광역시',2987918,1344029,2.22,1494725,1493193],
    ['인천광역시',2987918,1344029,2.22,1494725,1493193],
    ['인천광역시',2987918,1344029,2.22,1494725,1493193],
    ['인천광역시',2987918,1344029,2.22,1494725,1493193],
    ['인천광역시',2987918,1344029,2.22,1494725,1493193],
    ['인천광역시',2987918,1344029,2.22,1494725,1493193],
    
    
    ],
    columns = ['행정구역','총인구수','세대수','세대당인구','남자인구수','여자인구수']
    
)

In [ ]:
df_pop202309

In [ ]:
df_pop = df_pop202309.copy()

In [ ]:
df_pop

In [ ]:
df_pop = df_pop.rename(columns= {'행정구역':'district'})
df_pop.rename(columns={'총인구수':'population','세대수':'household'}, inplace=True)

In [ ]:
df_pop

In [ ]:
df_pop.index = df_pop['district']

In [ ]:
df_pop.drop(columns=['district'])

In [ ]:
import pandas as pd

In [ ]:
df_pop202309 = pd.read_csv('population_202309.csv',encoding='EUC-KR')
df_pop202309

In [ ]:
boxoffices = pd.read_html('https://movie.datamotion.co.kr/Boxoffice')
df_boxoffice = boxoffices[1]

In [ ]:
df_boxoffice

In [ ]:
df_boxoffice.columns = df_boxoffice.iloc[0]

In [ ]:
df_boxoffice

In [ ]:
df_boxoffice.drop(0)

In [ ]:
df_boxoffice.set_index('순위')

In [ ]:
df_boxoffice.drop(0)

In [ ]:
df_boxoffice.drop(0,inplace=True)

In [ ]:
df_boxoffice.set_index('순위',inplace=True)

In [ ]:
import pandas as pd

# 샘플 데이터프레임 생성
data = {'Full_Name': ['John Doe', 'Jane Smith', 'Bob Johnson']}
df = pd.DataFrame(data)
print(df)

print()

# Full_Name 열을 공백을 기준으로 First_Name과 Last_Name 열로 분할
df[['First_Name', 'Last_Name']] = df['Full_Name'].str.split(' ', expand=True)

# Full_Name 열은 더 이상 필요하지 않으므로 삭제
df.drop('Full_Name', axis=1, inplace=True)

# 결과 출력
print(df)

In [ ]:
df_boxoffice

In [ ]:
df_boxoffice[['MovieTitle','Year']] = df_boxoffice['영화'].str.split('(',1,expand=True)

In [ ]:
df_boxoffice['Year'] = df_boxoffice['Year'].str.replace(')','')

In [ ]:
df_boxoffice

In [ ]:
df_boxoffice.drop('영화', axis=1, inplace=True)

In [ ]:
df_boxoffice

In [ ]:
df_boxoffice = df_boxoffice[['MovieTitle', 'Year', '세계 흥행 수익', '북미 흥행 수익', '북미 %', '제작비']]

In [ ]:
df_boxoffice

In [ ]:
df_boxoffice.columns = ['MovieTitle', 'Year', 'WWBoxOffice', 'DomesticBoxOffice', 'DomesticPercentage', 'Budget']

In [ ]:
df_boxoffice

In [ ]:
df_boxoffice.index.name = 'rank'

In [ ]:
df_boxoffice